body {
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden;
  align-items: center;
  padding-left: 16px;
  padding-top: 6px;
  top: 0;
  height: 70px;
  color: #ffffff;
  font-size: 24px;
  background-color: #00365F;
  text-align: center;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.28);
}
